@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --blue: #040949;
  --blue-btn: #040270;
  --cyan: rgb(23, 231, 246);
  --white: #ffffff;
  --cyan-hover: rgb(1, 214, 230);
  --rose: #debadf;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Quicksand", sans-serif;
}

body {
  margin: 0;
  /* height: 100vh; */
  /* background: #040949; #000444 */
}

.hero {
  height: 750px;
  width: 100vw;
  background-image: url(assetWebp/HeroNike.webp);
  background-position: center;
  background-repeat: none;
  background-size: cover;
  z-index: 0;

  .home-button {
    position: relative;
    padding-left: 4.5rem;
    bottom: 7rem;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;

    gap: 2rem;
  }
}

/*composant btn */
.btn {
  display: inline-block;
  color: var(--blue);
  background-color: var(--cyan);
  padding: 0.5rem 1.2rem;
  border-radius: 20px 20px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  transition: all 0.5s;
  color: var(--blue-btn);
  z-index: 10;

  &:hover {
    background-color: var(--cyan);
    box-shadow:
      0 0 10px var(--cyan),
      0 0 40px var(--cyan);

    /* border: 1px solid var(--cyan); */
  }
}

/* class modificatrice  */
.btn-box {
  padding: 12px 28px;
  border-radius: 40px;
  letter-spacing: 1px;
  /* opacity: 0; */
  animation: slideTop 1s ease forwards;
  animation-delay: 2s;
  box-shadow:
    0 0 5px #0ef,
    0 0 25px #0ef;

  &:hover {
    box-shadow:
      0 0 5px cyan,
      0 0 15px cyan,
      0 0 35px cyan,
      0 0 50px cyan,
      0 0 200px cyan;
  }
}

.container {
  max-width: 1200px; /* Largeur maximale */
  margin: 0 auto; /* Centre le container */
  padding: 0 20px; /* Espacement sur les côtés */
}

.content {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 4rem 0;
  background-image: url(assetWebp/mockup_part1.webp);
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 60vh;

  .divider {
    width: 300px;
    height: 1.5px;
    background-color: #1a1a4d;
    margin: 40px 0;
  }
}

.text-content {
  width: 50%;
  h2 {
    font-size: 2rem;
    color: #040949;
    margin-bottom: 0;
    font-weight: 700;
    margin-top: 0;
    line-height: 1.2;
  }
  h3 {
    font-size: 1.5rem;
    color: #040949;
    margin-bottom: 0;
    font-weight: 700;
    margin-top: 0;
    line-height: 1.2;
  }
  p {
    font-size: 1.1rem;
    color: #040949;
    line-height: 1.6;
    margin: 30px 0;
  }
}

.w-90 {
  width: 90%;
}

.role {
  position: relative;
  padding: 90px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 700px;
    background-color: rgba(4, 9, 73, 0.07);
    border-radius: 10px 10px;
    z-index: -1;
  }

  article {
    position: relative;
    background-color: #ffffff;
    padding: 0;
    margin: 80px 0;
    border-radius: 16px 16px;
    border: solid 1px rgba(0, 0, 0, 1);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 3px 36px 16px rgba(0, 0, 0, 0.1);

    img {
      border-radius: 0 16px 16px 0;
      width: 50%;
      object-fit: cover;
    }
    .img-rev {
      border-radius: 16px 0 0 16px;
    }

    .text {
      width: 50%;
      padding: 40px;
      h2 {
        font-size: 1.8rem;
        color: #040949;
        margin-bottom: 20px;
      }
      h3 {
        font-size: 1.4rem;
        color: #040949;
        margin-bottom: 15px;
      }
      p {
        font-size: 1rem;
        color: #040949;
        line-height: 1.6;
        margin: 15px 0;
      }
    }

    .image {
      position: relative;
      display: flex;
      align-items: center;
      width: 50%;
      img {
        width: 100%;
      }
    }
    .image-rev {
      position: relative;
      display: flex;
      align-items: center;
      width: 50%;
      img {
        width: 100%;
      }
    }
  }
}

.m-40 {
  margin-left: 40px;
  margin-right: 40px;
}

.conclusion {
  position: relative;
  margin-bottom: 10rem;
  /* min-height: 869px; */
  /* background-color: rgba(219, 196, 156, 1); */
  h2 {
    padding: 45px 0;
  }
}
.conclu {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;

  .breakpoint {
    width: 50%;

    ul li {
      list-style: none;
      display: flex;
      align-items: center;
      flex-direction: row;
      font-size: 1rem;
      color: #040949;
      line-height: 1.5;
      margin: 30px 0;
      gap: 2rem;

      svg {
        height: 4rem;
        background-color: rgba(4, 9, 73, 0.07);
        border-radius: 50px 50px;
        padding: 15px 15px;
      }
    }
  }

  .img {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 100%;
      height: auto;
      object-fit: contain;
    }
  }
}

/*------------------ Projets -------------------*/

.sub-title {
  text-align: center;
  font-size: 60px;
  padding: 50px 0 70px 0;
  span {
    color: #0ef;
  }
}

.project {
  background-color: #040949;
  padding-top: 130px;
  margin-top: 0;
  color: aliceblue;
  font-size: 20px;
  line-height: 1.4rem;
  /* margin-bottom: 4rem; */
  padding: 90px;
  h2 {
    font-size: 60px;
    line-height: 1;
    text-align: center;
    color: var(--white);
    span {
      color: #0ef;
    }
  }
}

.portfolio-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(359px, 359px));
  gap: 2rem;
  margin-top: 20px;
  color: var(--white);
  justify-content: center;
  background-color: #040949;
}
.row {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  background-color: transparent;
  font-size: 15px;
  font-weight: 900;
  border-right: 10px;
  border-radius: 8px;
  transition:
    background 0.5s,
    transform 0.5s;
  box-shadow:
    1px 1px 20px #040270,
    1px 1px 40px #040270;

  img {
    width: 100%;
    height: 200px;
    display: block;
    transition: transform 0.5s;
  }
  &:hover {
    transform: translateY(-10px);
    background-color: #000444;
  }
}

.layer {
  width: 100%;
  min-height: 400px;
  color: var(--white);
  /* background: linear-gradient(rgba(0, 0, 0, 0.1), #0ef); */
  position: relative;
  top: 30px;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 0 40px;
  transition: height 0.5s;

  p {
    font-size: 1rem;
    line-height: 1.8;
    font-weight: 300;
    color: #ffffffc1;
  }
  .title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    h5 {
      font-size: 20px;
      font-weight: bold;
    }
    i {
      font-size: 20px;
      background-color: #040270b3;
      padding: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 5px 5px;
      color: #0ef;
    }
  }
  .text {
    color: var(--cyan);
    background-color: #040270b3;
    padding: 0.2rem 1rem;
    border-radius: 5px 5px;
    font-weight: 400;
    font-size: 16px;
    flex-direction: row;
  }
  ul {
    list-style: none;
    color: rgb(192 132 252);
    opacity: 1;
    font-weight: 300;
    font-size: small;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-top: 2rem;
    li {
      background-color: rgba(192, 132, 252, 0.138);
      padding: 5px 10px;
      border-radius: 5px 5px;
    }
  }
  a {
    text-decoration: none;
    color: var(--cyan);
    font-weight: bold;
    background-color: rgba(0, 238, 255, 0.111);
    border: solid 0.5px var(--cyan);
    padding: 5px 10px;
    border-radius: 5px 5px;
  }
}

.btn-4 {
  border: 1px solid;
  overflow: hidden;
  position: relative;

  span {
    z-index: 20;
  }

  &:after {
    background: #fff;
    content: "";
    height: 155px;
    left: -75px;
    opacity: 0.2;
    position: absolute;
    top: -50px;
    transform: rotate(35deg);
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    width: 50px;
    z-index: -10;
  }
}

.btn-4:hover {
  &:after {
    left: 120%;
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  }
}

.row:hover img {
  transform: scale(1.05);
}
/* .row:hover .layer {
  height: 100%;
} */

/* skills responsive  */

@media (max-width: 990px) {
  .project {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 6rem 5%;
    h2 {
      font-size: 3rem;
    }
  }
  .row {
    img {
      width: 100%;
      height: 200px;
    }
    div {
      display: flex;
      flex-direction: column;
      text-align: left;
    }
  }
}

@media (min-width: 576px) {
  .row {
    grid-template-columns: repeat(auto-fit, minmax(359px, 1fr));
  }
}
@media (max-width: 393px) {
  .flex-grow ul il {
    line-height: 17px;
  }
  .layer {
    min-height: 430px;
  }
}

/*------------------ Animations -------------------*/

@keyframes slideRight {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes slideLeft {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes slideTop {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes slideBottom {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

/*--------- Footer ----------*/

.footer {
  width: 100%;
  background-color: #040949;
}
footer {
  background-color: #0402707a;

  color: var(--white);
  padding: 1rem;
  font-weight: 300;
  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    li {
      list-style: none;
    }
  }
}