@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --blue: #040949;
  --blue-btn: #040270;
  --cyan: rgb(23, 231, 246);
  --white: #ffffff;
  --cyan-hover: rgb(1, 214, 230);
  --rose: #debadf;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Quicksand", sans-serif;
}

body {
  margin: 0;
  /* height: 100vh; */
  /* background: #040949; #000444 */
}

.hero {
  height: 750px;
  width: 100vw;
  background-image: url(assetWebp/HeroNike.webp);
  background-position: center;
  background-repeat: none;
  background-size: cover;
  z-index: 0;

  .home-button {
    position: relative;
    padding-left: 4.5rem;
    bottom: 7rem;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;

    gap: 2rem;
  }
}

/*composant btn */
.btn {
  display: inline-block;
  color: var(--blue);
  background-color: var(--cyan);
  padding: 0.5rem 1.2rem;
  border-radius: 20px 20px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  transition: all 0.5s;
  color: var(--blue-btn);
  z-index: 10;

  &:hover {
    background-color: var(--cyan);
    box-shadow:
      0 0 10px var(--cyan),
      0 0 40px var(--cyan);

    /* border: 1px solid var(--cyan); */
  }
}

/* class modificatrice  */
.btn-box {
  padding: 12px 28px;
  border-radius: 40px;
  letter-spacing: 1px;
  /* opacity: 0; */
  animation: slideTop 1s ease forwards;
  animation-delay: 2s;
  box-shadow:
    0 0 5px #0ef,
    0 0 25px #0ef;

  &:hover {
    box-shadow:
      0 0 5px cyan,
      0 0 15px cyan,
      0 0 35px cyan,
      0 0 50px cyan,
      0 0 200px cyan;
  }
}

.container {
  max-width: 1200px; /* Largeur maximale */
  margin: 0 auto; /* Centre le container */
  padding: 0 20px; /* Espacement sur les côtés */
}

.content {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 4rem 0;
  background-image: url(assetWebp/mockup_part1.webp);
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 60vh;

  .divider {
    width: 300px;
    height: 1.5px;
    background-color: #1a1a4d;
    margin: 40px 0;
  }
}

.text {
  width: 50%;
  h2 {
    font-size: 2rem;
    color: #040949;
    margin-bottom: 0;
    font-weight: 700;
    margin-top: 0;
    line-height: 1.2;
  }
  h3 {
    font-size: 1.5rem;
    color: #040949;
    margin-bottom: 0;
    font-weight: 700;
    margin-top: 0;
    line-height: 1.2;
  }
  p {
    font-size: 1.1rem;
    color: #040949;
    line-height: 1.6;
    margin: 30px 0;
  }
}

.w-90 {
  width: 90%;
}

.role {
  height: 700px;
  background-color: rgba(4, 9, 73, 0.07);
  border-radius: 10px 10px;
  padding: 90px;
}

article {
  position: relative;
  background-color: #ffffff;
  padding: 0;
  margin: 80px 0;
  border-radius: 16px 16px;
  border: solid 1px rgba(0, 0, 0, 1);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 3px 36px 16px rgba(0, 0, 0, 0.1);

  img {
    border-radius: 0 16px 16px 0;
  }
  .img-rev {
    border-radius: 16px 0 0 16px;
  }

  .image {
    position: relative;
    display: flex;
    align-items: center;
  }
  .image-rev {
    position: relative;
    display: flex;
    align-items: center;
  }
}

.m-40 {
  margin-left: 40px;
  margin-right: 40px;
}

.conclusion {
  position: relative;
  height: 700px;
}
